<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <title>佳医比邻</title>
    <link rel="stylesheet" href="/templates/css/weui.css"/>
</head>
<body>
<div class="page">
    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">操作成功</h2>
            <p class="weui_msg_desc">您的数据已经实时更新,重新进入后即可查看</p>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a href="javascript:JavaScript:WeixinJSBridge.call('closeWindow');" class="weui_btn weui_btn_primary">回到公众号</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>