<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
		<link rel="stylesheet" href="/templates/css/doctorinfo.css" />
		<link rel="stylesheet" href="/templates/css/api.css" />
		<script type="text/javascript" src="/templates/script/doctorinfo.js" ></script>
		<title>佳医比邻</title>
	</head>
	<body onload="dataLoad()">
		<div class="main">
			<div id="top_name">
				<p>王小虎</p>
			</div>
			<div class="top_content">
				<div class="top_share">
					<div class="share" >
							<img src="" />
							<div>分享</div>						
					</div>
					
				</div>
				<div class="top_info">
					<div class="div_img">
						<img src="/templates/image/headpic.png" />
					</div>
					<div class="info">
						<p class="name">王小虎</p>
						<div>
							<span class="department">内科</span>
							<span class="title">主任医师</span>
						</div>
						<p class="address">广州市天河区凤凰街社区卫生服务中心</p>
					</div>
				</div>
			</div>

			<div class="mid_intro">
				<div class="div_intro">
					<p>医生简介</p>
				</div>
				<div class="intro">
					<div>
						<b>擅长：</b>
						<p>心脑血管专家专诊</p>
					</div>
					<div>
						<b>职业经验：</b>
						<p>十年临床经验</p>
					</div>
				</div>
			</div>

			<div class="botm_list">
				<form>
					<div class="div_service">
						<div>
							<label><input name="service" type="checkbox"/>居民在线健康评估</label>
						</div>
						<p>0元</p>
						<a><img src="/templates/image/downarrows.png"/></a>
					</div>
					
					<div class="div_service">
						<div>
							<label><input name="service" type="checkbox"/>设计个性化健康管理目标hhhhhhhhhhhhhh</label>
						</div>
						<p>0元</p>
						<a><img src="/templates/image/downarrows.png"/></a>
					</div>
					
					<div class="div_service">
						<div>
							<label><input name="service" type="checkbox"/>
								在线接收居民图文咨询解答疑惑hhhh
							</label>
						</div>
						<p>0元</p>
						<a><img src="/templates/image/downarrows.png"/></a>
					</div>
					
					<div class="div_service">
						<div>
							<label><input name="service" type="checkbox"/>居民健康信息在线管理</label>
						</div>
						<p>0元</p>
						<a><img src="/templates/image/downarrows.png"/></a>
					</div>
					
					<div class="div_service">
						<div>
							<label><input name="service" type="checkbox"/>居民用药在线管理</label>
						</div>
						<p>0元</p>
						<a><img src="/templates/image/downarrows.png"/></a>
					</div>
					
					<div class="div_service">
						<div>
							<label><input name="service" type="checkbox"/>居民运动在线管理</label>
						</div>
						<p>0元</p>
						<a><img src="/templates/image/downarrows.png"/></a>
					</div>
					
					
					
					
					
					<div class="div_service">
						<div>
							<label><input name="service" type="checkbox"/>居民运动在线管理</label>
						</div>
						<p>0元</p>
						<a><img src="/templates/image/downarrows.png"/></a>
					</div>
					<div class="div_service">
						<div>
							<label><input name="service" type="checkbox"/>居民运动在线管理</label>
						</div>
						<p>0元</p>
						<a><img src="/templates/image/downarrows.png"/></a>
					</div>
					<div class="div_service">
						<div>
							<label><input name="service" type="checkbox"/>居民运动在线管理</label>
						</div>
						<p>0元</p>
						<a><img src="/templates/image/downarrows.png"/></a>
					</div>
					<div class="div_service">
						<div>
							<label><input name="service" type="checkbox"/>居民运动在线管理</label>
						</div>
						<p>0元</p>
						<a><img src="/templates/image/downarrows.png"/></a>
					</div>
					<div class="div_service">
						<div>
							<label><input name="service" type="checkbox"/>居民运动在线管理</label>
						</div>
						<p>0元</p>
						<a><img src="/templates/image/downarrows.png"/></a>
					</div>
					
					
					
				<input type="button" value="购买" class="input_button"/>
				</form>

			</div>

		</div>
	</body>

</html>